/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___HTML___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
html body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
    linear-gradient(to bottom, var(--bg-overlay), var(--bg-overlay)),
    var(--bg-image) center/cover no-repeat;
    z-index: -2;
}
html body::after {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(1px);
    z-index: -1;
    pointer-events: none;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___BODY___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
body{
    background-image: url(/images/bg5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___HEADER___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
header nav ul{
    list-style-type: none;
    padding-left: 0;
}
header nav ul li{
    text-align: center;
    border-bottom: 1px solid #dedede;
    background-color: rgb(0, 0, 0);
    margin: 0 10px;
}
header nav a{
    text-decoration: none;
    color: white;
}
header nav a:hover{
    color: #e4bd49;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___CLASS___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.logo{
    max-width: 300px;
}
#sitename{
    font-size: 30px;
    color: white;
}
.banner{
    height: 400px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 500px;
    text-align: center;
}
main .bann-position{
    margin-top: 20px;
}
.footer2{
    text-align: center;
    color: white;
    background-color: black;
    height: 100px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___@MEDIA___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
@media (min-width: 576px){
    .container{
        width: 526px;
    }

}
@media (min-width: 768px){
    .container{
        width: 718px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    header nav ul{
        list-style-type: none;
        display: inline-flex;
    }
    header nav ul li{
        border-bottom-width: 0;
        box-sizing: border-box;
        margin: auto;
        padding: 20px;
    }
    header nav a{
        color: white;
    }
    .banner{
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
    border-radius: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}
@media (min-width: 992px){
    .container{
        width: 942px;
    }

}
@media (min-width: 1200px){
    .container{
        width: 1150px;
    }
    
}
@media (min-width: 1400px){
    .container{
        width: 1350px;
    }
    
}