/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___HTML___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
html body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
    linear-gradient(to bottom, var(--bg-overlay), var(--bg-overlay)),
    var(--bg-image) center/cover no-repeat;
    z-index: -2;
}
html body::after {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(1px);
    z-index: -1;
    pointer-events: none;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___BODY___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
body{
    color: white;
    background-image: url("../images/bg5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___HEADER___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
header nav ul{
    list-style-type: none;
    padding-left: 0;
}
header nav ul li{
    text-align: center;
    border-bottom: 1px solid rgba(255, 0, 106, 0.77);
    background-color: rgb(0, 0, 0);
}
header nav a{
    text-decoration: none; 
    display: block;
    padding: 15px 15px;
    color: white;
}
header nav a:hover{
    background-color: white;
    color: black;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___CLASS___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.logo{
    max-width: 300px;
}
#sitename{
    font-size: 30px;
    color: white;
}
header .container3{
   display: flex;
   flex-direction: column;
   text-align: center;
}
.banner{
    height: 400px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 0, 106, 0.77);
    border-radius: 500px;
    text-align: center;
}
main .bann-position{
    margin-top: 20px;
}
main .hero{
    text-align: center;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 50px;
}
div .projets{
    text-align: center;
}
main div ul{
    font-size: 30px;
}
main div ul li{
    list-style-type: none;
}
main div ul li a{
    text-decoration: none;
    color: white;
}
main div ul li a:hover{
    color: #e4bd49;
}

.container2{
    text-align: center;
}
footer {margin-top: auto;}
.footer2{
    text-align: center;
    color: white;
    background-color: black;
    height: 100px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx___@MEDIA___xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
@media (min-width: 576px){
    .container{
        width: 526px;
    }

}
@media (min-width: 768px){
    .container{
        width: 718px;
        margin: auto;
    }
    body{
        margin: 0;
        padding: 0;
    }
    header .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .logo{
        max-width: 80px;
    }
    header #sitename{
        font-size: 30px;
    }
    header nav ul{
        display:flex;
        justify-content:center;
    }
    header nav.float ul{
        float: right;
    }
    header nav ul li{
        border-bottom-width: 0;
        
    }   
    header nav ul li:not(:last-child){
        border-right: 5px solid rgba(255, 0, 106, 0.77);
    }
    .float{
        width: 50%;
        float: right;
    }
    .clear{
        clear: both;
    }
    .banner{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}
@media (min-width: 992px){
    .container{
        width: 942px;
    }

}
@media (min-width: 1200px){
    .container{
        width: 1150px;
    }
    
}
@media (min-width: 1400px){
    .container{
        width: 1350px;
    }
    
}